<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="TestRegistration" value="[RTWS Session ID Here]"/>
    <add key ="Secret" value="[RTWS Secret (from package) Here]"/>
    <add key ="Endpoint" value="http://cloud.scorm.com/ScormEngine/ScormEngineInterface/services/RTWS"/>
    <add key ="SampleOutput" value="c:\temp\calls"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.83.1.0" newVersion="0.83.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="true" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
      <detailedErrors enabled="true" />
    </diagnostics>
    <policy fileName="wse3policyCache.config" />
    <security>
      <timeToleranceInSeconds value="86400" />
    </security>
  </microsoft.web.services3>
  </configuration>
